@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Fira+Sans:wght@300&family=Frijole&family=Lato:wght@300&family=Poppins:wght@200&family=Roboto+Mono:wght@200;300;400;500;700&family=Yesteryear&display=swap');

:root {
	--red: red;
	--white: #fff;
	--text: #7197DD;
	--request: gold;
}

 body {
  	text-align: center;
  	background:  url('../img/grating.jpg') no-repeat 50% 50% fixed;
  	background-size: cover;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-position: center;
  	margin: 0;
  	padding: 0;
   }

  p {
  	font-family: 'Chelsea Market';
  	font-size: 40px;  	
  }

  #number {
  	margin: 10px;
  	padding: 10px;
  	display: inline;
  	font-weight: bold;
    color:  red;
  }
  
   .tnt {
  	font-weight: 700;
  	/* font-family: 'Overlock', cursive;*/
  	font-family: 'Frijole', cursive, sans-serif;
  	font-size: 75px;
  	margin: 25px 10px;
    color:  red;
  }

  .tnt2 {
    padding: 15px;
  	font-size: 40px;
  	text-align: center;
  	font-family: 'Chelsea Market';
  	margin-top: -20px;
    color:  #7197DD;
  }
  
  .tnt3 {
  	font-size: 40px;
  	text-align: center;
  	font-family: 'Chelsea Market';
  	margin-top: -20px;
    color:  white;
  }

  nav ul {
  	background: rgba(255,255,255,.75);
  	padding: 15px;
  	margin-bottom: 35px;
  }
  
  nav li {
  	display: inline;
  	margin: 10px;
  	font-family: 'Chelsea Market';
  	padding-bottom: 5px;
  }
  
  a {
  	text-decoration: none;
  	text-align: center;
  	margin-right: 40px;
  	font-size: 200%;
      color:  red;
  }

  a:hover {
  	color: white;
  	text-decoration: none;
  }
  
  a:active {
  	color: #7197DD;
  }

  .services ul {
    margin-top: 40px;
    margin-left: 90px;
  	list-style: none;
  	color: red;
  	text-align: left;
  } 

  .services li{
  	text-align: center;
  }
  
  .jumbotron { 
    width:100%; 
    height:475px; 
    background-image: url("../img/chicago_aon2.jpg"); 
    background-size:cover; 
    
    }
  .jumbotron h1 {
  	color: red;
  	margin-top: -25px;
  	margin-bottom: 40px;
  }
  
  .jumbotron h3 {
    font-family: 'Chelsea Market';
    margin-top: 15px;
  }

  .jumbotron h4 {
    font-family: 'Chelsea Market';
    margin-top: 15px;
  	color: white;
  } 

  .jumbotron .card1 {
    font-family: 'Chelsea Market';
    margin-top: 15px;
  	color: red;
  } 

  .service {
	  background-color: white;
	  border: none;
	  margin: 10px;
	  padding: 10px;
	  border-radius: 7px;
	  text-align: center;
  }

  .service p {
	  color: white;
	  text-align: center;
  }

 footer {
 	margin-top: -30px;
 }
 footer a {
  	color: red;
  	font-size: 200%;
  	margin-left: 40px;
  }
 .red {
  	color: red;
  	font-family: 'Frijole';
  }
 .credo {
    background: rgba(0,0,0,0.5);  	
  	font-size: 48px;
  	font-family: 'Yesteryear';
    color:  white;

  	/* -webkit-text-stroke: 1px black;
  	   text-shadow:
  	       3px 3px 0 #000,
  	     -1px -1px 0 #000,  
  	      1px -1px 0 #000,
  	      -1px 1px 0 #000,
  	       1px 1px 0 #000;
  	-moz-text-stroke: 1px black;
  			   color:  white;
  			   text-shadow:
  			       3px 3px 0 #000,
  			     -1px -1px 0 #000,  
  			      1px -1px 0 #000,
  			      -1px 1px 0 #000,
  			       1px 1px 0 #000; */
  }
 #facebook {
 	margin-left: 30px;
 	margin-top: 18px;;
 }
 #email {
 	font-size: 100%;
 }
 #cc {
 	margin: 15px 0 45px 0;
 }
 #visit a {
 	margin: 0px;
 }

 /* Request Services Button */
#request {
	margin-top: 15px;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.75);
	font-family: 'Chelsea Market', sans-serif;
	font-size: 2em;
	color: var(--request);
	border-radius: 7px;
	border: none;
}

#request:hover {
	background-color: white;
	font-size: 1.8em;
}

 .btn-request {
	font-size: 1.5em;
    border-radius: 7px;
    border: none;   
}

.selected {
	color: #fff;
}

a,
.tnt,
.tnt2,
.tnt3,
.credo,
#request {
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    text-shadow: 
        0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
    -webkit-text-stroke: 1px black;

    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    -moz-text-stroke: 1px black;
}

 /*=========================
        MEDIA QUERIES
 ==========================*/
 
 @media(max-width: 1000px){
 	
 	p#number {
 	    font-size: 250%;
 	}
 	.services ul{
 		margin-left: 0px;
 	}
 	#visit {
 	    font-size: 36px;
 	}
 }
 
 
  @media(max-width: 768px){
    .tnt {
        font-size: 50px;
    }
    .tnt2 {
        font-size: 40px;
        margin-top: -10px;
    }
    .card1 {
    	color: red;
    }
    .card2 {
    	color: white;
    }
    
    p#number {
    	font-size: 250%;
    }
    .tnt2 li {
    	color: red;
    	text-align: center;
    	font-size: 125%;
    }
    footer a {
    	text-align: center;
    }
    footer a:hover {
    	color: white;
    	text-decoration: none;
    }
    nav a {
    	font-size: 125%;
    	margin: 0;
    }
    ul {
    	background: none;
    }
    .credo {
    	font-size: 36px;
    }
    .statement {
        font-size: 45px;
    }
    footer a{
    	font-size: 100%;
    	;
    }
    #email {
        font-size: 75%;	
    }
   }
   #selected a{
   	color: white;
   }

   .selected {
	color: #fff;
}

   
  @media(max-width: 500px){
  
    nav ul {
    text-align: center;
    }

    nav a {
    	margin-right: 15px;
    }

  	nav li {
  	display: inline;
   	padding: 0px;
  	margin: 0px;
    }

  footer a {
  	font-size: 90%;
  	text-align: center;
  	margin-left: 27px;
  }
  
  .services li {
  	font-size: 75%;
  }
  
  .credo {
  	margin-bottom: 25px;
  }

  #email {
  	font-size: 70%;
  	margin-left: -10px;
  }

  #visit {
  	font-size: 24px;
  }

  #visit a {
  	margin: 0px;
  }

  .selected {
	color: #fff;
}

 }
 
 /* This query hits iPhone 4 */
 
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 480px) { /* STYLES GO HERE */
 
 nav ul {
   text-align: center;
   background: none;
   }

    nav a {
   	margin-right: 15px;
   	color: red;
   	background: none;
   }

 	nav li {
 	display: block;
  	padding: 0px;
 	margin: 0px;
   }

 footer a {
 	font-size: 50%;
 	text-align: center;
 	margin-left: 35px;
 }
 
 .services li {
 	font-size: 75%;
 }
 
 .credo {
 	margin-bottom: 25px;
 }

 #email {
 	font-size: 70%;
 	margin-left: -10px;
 }

 #visit {
 	font-size: 24px;
 }

 #visit a {
 	margin: 0px;
 }
 
 .selected {
	color: #fff;
}

 }

 	/* background: rgba(255,255,255,.75); */
