/*===========================
     WEBSITE COLORS:
     'red'
     'white'
     'blue' : #7197DD
============================*/


/*============================
Body Background Image
============================*/
body {
	background:  url('../img/grating.jpg') no-repeat 50% 50% fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
}

/*============================
Jumbotron Background Image
============================*/
.jumbotron {
	font-family: 'Frijole';
	color: red;
	-webkit-text-stroke: 1px black;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			             0px 8px 13px rgba(0,0,0,0.1),
			             0px 18px 23px rgba(0,0,0,0.1);
		-webkit-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
		-moz-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
    position: relative;
    background: #ddd url("../img/chicago_aon2.jpg") center center ;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;  
}

.jumbotron h2,h3{
	color: #7197DD;
	font-family: 'Chelsea Market', sans-serif;
}

/*============================
Nav Styling
============================*/
nav {
	background-color:rgba(255,255,255, 0.5);
}
nav ul {
	padding: 15px;
}
nav a {
	color: red;
	font-family: 'Chelsea Market';
	font-size: 1.2em;
	text-decoration: none;
	-webkit-text-stroke: 1px black;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			             0px 8px 13px rgba(0,0,0,0.1),
			             0px 18px 23px rgba(0,0,0,0.1);
		-webkit-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
		-moz-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
}
nav a:hover {
	text-decoration: none;
	color: white;
}
nav a:active {
	color: #7197DD;
}
/*============================
About Body Text
============================*/
.credo {
	margin: 12px;
	font-family: 'Chelsea Market';
	font-size: 1.5em;
	color: #7197dd;
	-webkit-text-stroke: 1px black;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			             0px 8px 13px rgba(0,0,0,0.1),
			             0px 18px 23px rgba(0,0,0,0.1);
		-webkit-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
		-moz-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
}

/*============================
Phone Number Style
============================*/
footer a{
	color: red;
}
footer h3,a:hover {
	color: #7197DD;
}
footer h3,a:active {
	text-decoration: none;
	color: white;
}
#number {
	color: red;
	text-decoration: none;
	font-family: 'Chelsea Market';
	font-size: 1.5em;
	-webkit-text-stroke: 1px black;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			             0px 8px 13px rgba(0,0,0,0.1),
			             0px 18px 23px rgba(0,0,0,0.1);
		-webkit-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
		-moz-text-stroke: 1px black;
				   text-shadow:
				       3px 3px 0 #000,
				     -1px -1px 0 #000,  
				      1px -1px 0 #000,
				      -1px 1px 0 #000,
				       1px 1px 0 #000;
}
#number:hover {
	text-decoration: none;
	color: #7197DD;
}
#number:active {
	text-decoration: none;
	color: white;
}
